{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<head>
    <script>
        document.getElementById('back-home').style.display = 'none'
    </script>
</head>

<main>

    <div id="form-container" class="form-item">
        <img id='logo' src="{% static 'media/boomlogo.jpg' %}">
        <div>
            <h1 id="welcome">Welcome to Boom</h1>
            <p id="welcome-text">The best group video calling application</p>
        </div>
        <div>
            <form id="form">

                <div class = 'login-field'>
                    <a href="signup">Sign up</a>
                    <a href="login">Login</a>
                </div>

                <div class='form-field'>
                   <input type="text" name="room" placeholder="Room name: " id="input-name" style="
                   position: relative;
                   left: 115px;
                   top: -7px;
               ">
                </div>

                <div class="form-field">
                    <input type="submit" value="Join Meeting" class="myButton"/>
                </div>
            </form>
        </div>

    </div>

</main>

<script type="text/javascript">
    let form = document.getElementById('form')

    let handleSubmit = async (e) => {
        e.preventDefault()
        let room = e.target.room.value.toUpperCase()

        let response = await fetch(`/get_token/?channel=${room}`)
        let data = await response.json()

        let UID = data.UID
        let token = data.token

        sessionStorage.setItem('UID', UID)
        sessionStorage.setItem('token', token)
        sessionStorage.setItem('room', room)

        window.open('/room/', '_self')

    }
    form.addEventListener('submit', handleSubmit)
</script>

{% endblock content %}