{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<main>
    <div id="room-name-wrapper">
        <p>Room Name: <span id="room-name"></span></p>
    </div>

    <div id="video-streams"></div>

    <div id="controls-wrapper">
        <div id="box">
            
        </div>

        <div class="icon-wrapper">
            <img class="controls-style" id="mic-button" src="{% static 'media/microphone.png' %}" />
        </div>

        <div class="icon-wrapper">
            <img class="controls-style" id="camera-button" src="{% static 'media/cameratoggle.png' %}" />
        </div>

        <div class="icon-wrapper">
            <img class="controls-style" id="hang-up-button" src="{% static 'media/hangup.png' %}" />
        </div>
    </div>

</main>
<script type='text/javascript' src="{% static 'assets/AgoraRTC_N-4.14.0.js' %}"></script>
<script type="text/javascript" src="{% static 'js/streams.js'  %}"></script>

{% endblock content %}