{% extends 'base/base.html' %}
{% load static %}



{% block content %}

<head>
    <script type="text/javascript" src="{% static 'js/signup.js' %}">
    </script>
</head>

<main>
    <div id="form-container">
        <div>
            <h1 id="sign-up-title">Sign up</h1>
        </div>
        <div>
            <form id="signup-form">
                <label for="username">Username:</label><br>
                <input type="text" id='username-input'><br>
                <label for="password">Password:</label><br>
                <input type="password" id='password-input'><br><br>
                <script>
                    function getDetails () {
                        let form = document.getElementById('signup-form')
                        console.log(form[0].value, form[1].value)
                    }
                </script>
               <a href="http://127.0.0.1:8000/login"><input type="submit" id="submit-button" value="Submit" onclick="getDetails()"></a>
            </form>
        </div>
    </div>
</main>

{% endblock content %}

