* {
    font-family: "Sora", serif;
}
:root{
     --shadow:0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
}

body{
    background-color: rgb(196, 201, 231);
    opacity: 1;
}

#welcome {
    text-align: center;
}

#welcome-text {
    text-align: center;
}

#sign-up, #log-in {
    display: inline;
    padding: 43px;
    text-align: center;
}

#logo {
    display: block;
    width: 215px;
    margin: 0 auto;
    border-color: antiquewhite;
    border-radius: 10px;
    border: 150px;
    
}

#sign-up-title {
    text-align: center;
    zoom: 1;
}

#form-container {
    width: 400px;
    box-shadow: var(--shadow);
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.myButton {
    position: relative;
	box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
	background-color:#dfbdfa;
	border-radius:6px;
	border:1px solid #c584f3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9752cc;
    margin: auto;
    left: 125px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
	background-color:#bc80ea;
}
.myButton:active {
	position:relative;
	top:1px;
}


/* Room */

#video-streams {
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    width: 75%;
    margin: 0 auto;
}


.video-container {
    flex-basis: 500px;
    flex-grow: 1;
    max-height: 100%;
    min-height: 350px;
    border: 2px solid rgb(52, 57, 105);
    border-radius: 5px;
    margin: 3px;
    background-color: rgb(164, 164, 174)
}

.video-player {
    height: 100%;
    width: 100%;
}

/** username+password signup **/

#username-input, #password-input {
    color: black;
}

/** room controls **/

#controls-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 1em;
    position: fixed;
    bottom: 20px;
    z-index: 1;
}

.controls-style{
    height: 60px;
    width: 60px;
    border: black solid;
    border-radius: 10px;
    box-shadow: var(--shadow);
    background-color: white;
    cursor: pointer;
    padding: 10px;
}   

#box{
    width: 326px;
    height: 112px;
    border: gray;
    background: black;
    position: absolute;
    z-index: -1;
    bottom: -9px;
    border-radius: 10px;
    opacity: 0.75;
}